*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.dark-mode{
    filter: invert(.9);
}
.reset-dark{
    filter: invert(1);
}

#root{
    height: 100vh;
    background: rgb(206,215,216);
    background: linear-gradient(360deg, rgba(206,215,216,1) 5%, rgba(208,216,217,1) 15%, rgba(220,219,210,1) 85%, rgba(0,150,136,1) 75%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
#toggle-dark-text{
    font-size: 12px;
    color: #009688;
    font-weight: 500;
    cursor: pointer;
}

/* posizione della finestra principale, che contiene tutto il contenuto */
#main-window{
    /* temp */
    height: 97vh;
    width: 90%;
    min-width: 900px;
    max-width: 1400px;
    background-color: rgb(247, 247, 247);
    display: flex;
}

/* ----- CONTACTS ----- */

/* colonna contatti */
.contact-column{
    width: 30%;
    height: 100%;
}

/* psuedo nav utente */
#user-pseudo-nav{
    border-right: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 5px;
}
.left-nav-side,
.right-nav-side{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-nav-side .fas{
    margin-right: 15px;
    font-size: 14px;
    color: #aaa;
}
.nav-icon{
    border-radius: 50%;
    width: 40px;
    height: auto;
    margin-right: 5px;
}
#user-name{
    font-size: 12px;
    font-weight: 400;
}

/* Notifications section */
#disable-notifications{
    padding: 10px;
    background-color: #8edbf8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#circle-bell{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    background-color: white;
}
.fa-bell-slash{
    color: #8edbf8;
}
.notifications-txt{
    display: flex;
    flex-direction: column;
}
.notifications-txt :first-child,
.notifications-txt :last-child{
    font-size: 12px;
}
.notifications-txt :last-child{
    text-decoration: underline;
    color: grey;
}


/* field di ricerca tra i contatti */
.input-box{
    position: relative;
    background-color: #d8d8d7;
    padding: 5px;
}
#contact-search{
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    padding: 10px 50px;
    width: 100%;
    border-radius: 30px;
}
.input-box .fa-search{
    position: absolute;
    font-size: 13px;
    color: #aaa;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}


/* contacts list */
.contact-box{
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: auto;
    background-color: white;
}
.contact-box img{
    height: 50px;
    width: auto;
    margin-right: 10px;
    border-radius: 50%;
}
.contact-box li{
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 4px;
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.contact-name-msg{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.li-name-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.last-msg-date{
    font-size: 11px;
    padding-right: 15px;
}

.contact-name{
    font-weight: 600;
    font-size: 16px;
}
.last-msg{
    font-size: 11px;
}
.active-chat{
    background-color: #cacaca;
}


/* ----- CHAT COLUMN ----- */
.chat-column{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#chat-pseudo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 5px;
}

.contact-chat-info{
    display: flex;
    flex-direction: column;
}
#nome-contatto-chat{
    font-size: 13px;
}
#ultimo-accesso{
    font-size: 11px;
    color: grey;
}


/* messages box */
.messages-box{
    padding-top: 35px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-image: url("../img/mine.jpg");

}

/* chat box */

.received{
    left: 5%;
    background-color: rgb(245, 245, 245);
}
.sent{
    margin: 5px;
    left: 62%;
    background-color: #d5f9ba;
}

.sent,
.received{
    border-radius: 10px;
    width: 200px;
    padding: 10px 10px 20px 10px;
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.chat-data{
    position: absolute;
    font-size: 9px;
    bottom: 3px;
    right: 5%;
}


.send-msg{
    background-color:#f2eeea;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.send-msg i{
    color: #6a7376;
    cursor: pointer;
}
.send-msg input{
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 85%;
    border-radius: 30px;
    display: block;
}

.sent:hover .fa-chevron-down,
.received:hover .fa-chevron-down{
    display: block;
    cursor: pointer;
}
.fa-chevron-down{
    align-self: flex-start;
    display: none;
}

.dropdown{
    background-color: white;
    box-shadow: 1px 2px 10px grey;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 999;
}

.msg-options{
    display: block;
    padding: 10px;
    cursor: pointer;
}
