*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* versione della dark mode temporanea, ottenuta solo invertendo i colori con filter */

/* Root linea 21 HTML */
#root{
    height: 100vh;
    background: #090e11;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* style per il testo del toggle dark/light mode */
#toggle-dark-text{
    font-size: 12px;
    color: #009688;
    font-weight: 500;
    cursor: pointer;
}

/* posizione della finestra principale, che contiene tutto il contenuto */
#main-window{
    /* temp */
    height: 97vh;
    width: 90%;
    min-width: 800px;
    max-width: 1400px;
    background: #090e11;
    display: flex;
}

/* ----- CONTACTS ----- */

/* colonna contatti */
.contact-column{
    width: 30%;
    min-width: 240px;
    height: 100%;
}

.general-user-tab{
    background-color: #131c21;
}
.header-profile{
    background-color: #323739;
}
.user-input-box,
.stato-profile{
    background-color: #131c21;
    box-shadow: -5px 1px 5px rgb(0, 0, 0);
}
.user-input input{
    background-color: #131c21;
    color: white;
}
.stato-profile i{
    background-color: #131c21;
}

/* psuedo nav utente */
#user-pseudo-nav{
    border-right: 1px solid #3f4448;

    background-color: #2a2f32;
    color: white;
}

.right-nav-side .fas{
    color: #b1b3b5;
}
.add-contact-box{
    background-color: #2a2f32;
    color: white;
}

#disconnect-redirect{
    color: white;
}
#disconnect-redirect:hover{
    color: #009688;
}
.input-contact-name{
    background-color: #2a2f32;
    color: white;
    border-bottom: 1px solid #009688;
    font-family: 'Roboto', sans-serif;
}




/* Notifications section linea 41 HTML */
#disable-notifications{
    color: white;
    background-color: #085373;
}
#circle-bell{
    background-color: #8eb2be;
}
.fa-bell-slash{
    color: #085373;
}
.notifications-txt :last-child{
    text-decoration: underline;
    color: #a9c1cb;
}


/* field di ricerca tra i contatti */
.input-box{
    background-color: #131c21;
}
#contact-search{
    background-color: #323739;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.input-box .fa-search{
    color: #828689;
}

/* contacts list */
.contact-box{
    background-color: #131c21;
    color: white;
}

.contact-box li{
    border-bottom: 1px solid #2d3134;
}
.contact-box li:hover{
    background-color: #2d3134;
}
.bot-row .fa-times{
    color: #009688;
}

.last-msg-date{
    color: #009688; 
}

.active-chat{
    background-color: #323739;
}


/* ----- CHAT COLUMN ----- */

#chat-pseudo-nav{
    background-color: #2a2f32;
    color: white;
}

#ultimo-accesso{
    color: #9a9c9f;
}


/* messages box */
#messages-box{
    padding-top: 35px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("../img/dark-mine.jpg");

}

/* chat box */

.received{
    color: white;
    background-color: #262e32;
}
.sent{
    color: white;
    background-color: #056162;
}

.chat-data{
    color: #79a8aa;
}
/* da regolare la distanza dell'ora personalizzata sui messaggi ricevuti */
.sent-check{
    color: grey;
}
.blue-check{
    color: rgb(0, 153, 255);
}


.send-msg{
    background-color:#1e2428;
}
.send-msg i{
    color: #6a7376;
}
.send-msg input{
    color: white;
    background-color: #33383b;
}
.dropdown{
    background-color: #2a2f32;
    box-shadow: 1px 2px 9px rgb(78, 95, 97);
}



/* TAB info contatto */
.wrapper{
    background-color: #0d1418;
}

/* inizio styling componenti interni info contatto */
.side-info{
    border-left: 1px solid #3f4448;
    color: white;
    background-color: #2a2f32;
}
.side-info i{
    color: #828689;
    cursor: pointer;
}

/* immagine e nome utente */
.side-contact-infos{
    background-color:#131c21;
    color: white;
}

/* media link e documenti */
.side-media{
    background-color: #131c21;
}
.side-media span:first-child{
    color: #2ba89c;
    font-size: 14px;
}
.side-media span:last-child{
    color: grey;
}

/* messages options */
.side-msg-options{
    background-color: #131c21;
    color: white;
}
#disable-msg,
#important-msg{
    border-bottom: 1px solid lightgrey;
}

/* numero di telefono e stato */
.side-contact-number-status{
    background-color: #131c21;
    color: white;
}
#side-number-title{
    color: #2ba89c;
    font-size: 14px;
}

#side-number-status{
    border-bottom: 1px solid lightgrey;
}

/* bottoni Finali del blocco delle info contatto */


#block-contact,
#report-contact,
#delete-chat{
    background-color: #131c21;
    color: white;
}
#block-contact:hover,
#report-contact:hover,
#delete-chat:hover{
    background-color: #2d3134;
}
#delete-chat{
    margin-bottom: 40px;
}
.red-icon{
    color: #ef697a;
    font-size: 20px;
    padding-right: 15px;
}
.shadow{
    box-shadow: none;
}




/* MEDIA SCREEEN */
@media screen and (max-width: 1450px){
    #main-window{
        height: 100vh;
        width: 100%;
        max-width: 1550px;
    }
}



/* SCROLLBAR STYLING */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0d1418; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 30%); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145); 
}
