<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Boolzapp</title>
    </head>

    <body>

        <div id="root" v-bind:class="darkMode">
            <!-- <div class="green-bg"></div> -->
            
            <!-- absolute window -->
            <div id="main-window">
                <!-- colonna contatti -->
                <div class="contact-column">
                    <!-- user ROW -->
                    <div id="user-pseudo-nav">
                        <div class="left-nav-side">
                            <img class="nav-icon" src="img/avatar_8.jpg" alt="" v-bind:class="resetDark">
                            <span id="user-name">Nico</span>
                        </div>
                        <div class="right-nav-side">
                            <span id="toggle-dark-text" v-on:click="toggleDarkMode()">{{lightDark}} Theme <i class="fas fa-adjust"></i></span>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- riga per disabilitare le notifiche -->
                    <div id="disable-notifications">
                        <div id="circle-bell">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notifications-txt">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a>Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- riga di ricerca tra i contatti in rubrica -->
                    <div class="input-box">
                        <input id="contact-search" type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchTxt" v-on:keyup="filterChat()">
                        <i class="fas fa-search"></i>
                    </div>

                    <div class="contact-box">
                        <ul>
                            <!-- temp LI di prova -->
                            <li v-for="(obj, index) in contacts" v-on:click="showChat(index)" v-bind:class="obj.bg" v-if="obj.visible">
                                <img v-bind:src="`img/avatar${obj.avatar}.jpg`" v-bind:class="resetDark" alt="">
                                
                                <div class="contact-name-msg">
                                    <div class="li-name-date">
                                        <span class="contact-name">{{obj.name}}</span>
                                        <span class="last-msg-date">{{ findLast(index)[0] }}</span>
                                    </div>
                                    <span class="last-msg">{{ findLast(index)[1] }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- colonna chat -->
                <div class="chat-column">
                    <!-- pseudo chat nav -->
                    <div id="chat-pseudo-nav">
                        <div class="left-nav-side">
                            <img class="nav-icon" v-bind:src="`img/avatar${contacts[selectedContact].avatar}.jpg`" v-bind:class="resetDark" alt="">

                            <div class="contact-chat-info">
                                <span id="nome-contatto-chat">{{ contacts[selectedContact].name }}</span>
                                <span id="ultimo-accesso">ultimo accesso alle: <span v-if="filterReceivedMessages(selectedContact).length">{{findLastReceived(selectedContact).hour}}</span><span v-else>N/A</span></span>
        
                            </div>
                        </div>
                        <div class="right-nav-side">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <!-- chat -->
                    <div id="messages-box">
                        <div v-for="key in contacts[selectedContact].messages">
                            <div v-bind:class="key.status">
                                <span>{{ key.text }}</span>
                                <span class="chat-data">{{ key.date }}</span>
                                <i class="fas fa-chevron-down" v-on:click="toggleDrop(key)"></i>
                                
                                <div class="dropdown" v-if="key.dropD" v-bind:class="resetDark">
                                    <span class="msg-options">Message Info</span>
                                    <span class="msg-options" v-on:click="deleteMsg(key)">Delete</span>
                                </div>
                            </div>
                        </div>    
                    </div>
    
                    <!-- input messaggi -->
                    <div class="send-msg">
                        <i class="far fa-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="messaggio" v-on:keyup.enter="sendMsg()">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>

            </div>  
        </div>

        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
        <script src="js/contacts-example.js"></script>
        <script src="js/script.js"></script>
    </body>

</html>